@import "tailwindcss";

@font-face {
    font-family: Raleway, sans-serif;
    src: url(~/fonts/Raleway/Raleway-VariableFont_wght.ttf) format('woff2');
}

@theme {
    --color-azul: #6988b7;
    --color-negro-texto: #333;
    --color-negro-transparente: #00000066;
    --color-gris: #676767;
    --font-primary: Raleway, sans-serif
}

@layer components{
    body{
        @apply font-primary text-negro-texto
    }

    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .menu-toggle { 
        @apply block md:hidden
    }

    .nav-link{
        @apply no-underline text-negro-texto hover:text-azul
    }

    .hero{
        @apply bg-[url(../../assets/images/countdown.jpg)] flex items-center justify-center bg-center h-107.25 gap-10 w-screen bg-repeat
    }


    .botones, .busqueda-footer{
        @apply flex items-center flex-wrap w-full p-5 justify-center flex-col gap-5 rounded-md; 
    }

    .mobile-menu{
        @apply flex flex-col md:flex-row gap-2 items-center justify-center;
    }

    footer{
        @apply flex items-center justify-center flex-col;
    }

    .destacado{
        @apply flex items-center justify-center flex-col gap-3;
    }

    .boton-destacado{
        @apply rounded-full bg-azul hover:border-double hover:border-18 hover:border-white w-58 flex items-center justify-center h-58 hover:mb-3 transition-all;
    }

    .boton-destacado img {
        @apply h-40 w-40;
    }

    .boton-destacado:hover img {
        @apply scale-[1.1];
    }

    .texto-destacado {
        @apply text-center p-4 w-60 text-sm;
    }






    
}