@import "tailwindcss";

@font-face {
    font-family: Raleway, sans-serif;
    src: url(~/fonts/Raleway/Raleway-VariableFont_wght.ttf) format('woff2');
}

@theme {
    --color-azul: #6988b7;
    --color-negro-texto: #333;
    --color-negro-transparente: #00000066;
    --color-gris: #676767;
    --font-primary: Raleway, sans-serif
}

@layer components{
    body{
        @apply font-primary text-negro-texto
    }

    .hero{
        @apply bg-[url(../../assets/images/countdown.jpg)] flex items-center justify-center bg-center h-107.25 gap-10 w-screen bg-repeat
    }



    
}