@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <section class="hero">
        <div class="bg-negro-transparente w-49 p-1">
            <h1 class="text-6xl text-white">45</h1>
            <h2 class="lead text-white text-2xl font-bold">PROFESORES</h2>
        </div>

        <div class="bg-negro-transparente w-49 p-1">
            <h1 class="text-6xl text-white">11</h1>
            <h2 class="lead text-white text-2xl font-bold">CENTROS</h2>
        </div>

        <div class="bg-negro-transparente w-49 p-1">
            <h1 class="text-6xl text-white">35</h1>
            <h2 class="lead text-white text-2xl font-bold">AULAS</h2>
        </div>

        <div class="bg-negro-transparente w-49 p-1">
            <h1 class="text-6xl text-white">1200</h1>
            <h2 class="lead text-white text-2xl font-bold">ALUMNOS</h2>
        </div>
    </section>
    <section class="busqueda">
        <h3 class="text-negro-texto font-thin">Buscador de centros y servicios</h3>    
        <div class="botones">
                        
        </div>
    </section>
</div>
